<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Making a server</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>This contact is added to our website.</h1>
    <p>Name : <%= data.name %></p>
    <p>Department : <%= data.department %></p>
    <p>Semester : <%= data.semester %></p>
  </body>
</html>
