<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Making a server</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome to the most intrusting website you ever visited!</h1>
    <p>Here you find every thing You want to access.</p>
  </body>
</html>
